*{
    background-color: rgba(0, 255, 255, 0);
}

@view-transition{
    navigation: auto;
}
::view-transition-group(*){
    animation-duration: 2s;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(215deg, #eefcf987, rgb(231, 231, 231));
    position: relative;
    font-family: 'SFPro';
    box-sizing: border-box;
    transition: 0.8s ease;
    overflow: hidden;
}
body::after{
  content: "";
  position: fixed;          /* fijado a la ventana */
  inset: 0;                 /* top:0; right:0; bottom:0; left:0 */
  pointer-events: none;     /* que no bloquee clics */
  z-index: 0;               /* por debajo del contenido (ver nota) */
  opacity: 0;               /* invisible por defecto */
  transition: opacity 0.2s ease; /* aquí está la animación suave */
  background: linear-gradient(215deg, #0b0b0b 10%, #1d1d1d 100%); /* gradiente oscuro */
}
header, section {
  position: relative; /* para poder usar z-index si no lo tienen */
  z-index: 1;
}
body.modo-oscuro::after{
  opacity: 1;
}
.Navegacion {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 20%;
    height: 80%;
    background-color: rgb(244, 244, 244);
    box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(100%);
    border-radius: 110px;

    transition: background 0.2s ease, box-shadow 0.2s ease;

}
body.modo-oscuro .Navegacion {
    background: linear-gradient(215deg, #252525 10%, #1d1d1d 100%);
   box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(110%);
}

.Navegacion nav ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
    padding: 10px;
}

.Navegacion nav ul li {
    text-decoration: none;
    cursor: pointer;
}

.logotipoBotonNavegacion {
    display: flex;
    justify-content: center;
}

.logotipoBotonNavegacion img {
    width: 200px;

}

.perfilBotonNavegacion,
.albumesBotonNavegacion,
.privadosBotonNavegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(255, 0, 0, 0);
    color: var(--color_principal);
    font-size: 1.3em;
}

.perfilBotonNavegacion img {
    width: 15%;
    border-radius: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;      
    object-position: center;
}


.botongeneralModoOscuroClaro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo_botongeneralModoOscuroClaro {
    width: 50%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 40px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 14px 20px #4545451b;
}

.botonMovimiento_botongeneralModoOscuroClaro {
    width: 50%;
    height: 40px;
    background-color: #20c7a097;
    border-radius: 50px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease
}

.botonMovimiento_botongeneralModoOscuroClaro img {
    height: 80%;
}
.modo-oscuro .botonMovimiento_botongeneralModoOscuroClaro {
    transform: translateX(55px);
}
/*fin de la navegacion y comienzo de seccion albumes*/
.contenidoAlbumes {
    position: absolute;
    width: 75%;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0);
    right: 0;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    overflow-y: auto;
}
.ContenedorContenidoAlbum {
    width: 80%; 
    height: auto;
    min-height: max-content;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #ee82e541; 
    display: flex;
    flex-wrap: nowrap;
    border-radius: 100px 100px 0px 0px;
    box-shadow: inset 1px 10px 50px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 5px 5px 3px rgba(255, 255, 255, 0.958),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(16, 200, 3, 0.164),
        inset 10px 10px 10px 10px rgba(250, 252, 250, 0.241),
        inset 5px 5px 15px rgba(255, 255, 255, 0),
        0px 2px 8px rgba(47, 47, 47, 0.242);
}
.contenedorGrids{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 100vh;
}
.TituloAlbum{
    width: 100%;
    height: 150px;
    background-color: red;
    background-image: url("../recursos/img/fondoRojo.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 100px 100px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 30px;
    box-shadow:
        inset 4px 4px 3px rgba(255, 255, 255, 0.82),
    inset -4px -4px 5px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(110%);
}
.TituloAlbum h3{
    font-size: 4vw;
    border-radius: 30px; 
    color: rgb(241, 239, 239); 
}
.TituloAlbumImagen{
    margin-left: 60px;
    height: 30%;
    padding: 10px;
    box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(5, 10, 0, 0.344);
    border-radius: 150px;
}
.InfoRecuerdo p{
    margin: 0;
    color: rgb(50, 50, 50);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3vw;
    background-color: rgba(255, 0, 0, 0);
    transition: 0.4s all ease;
}
.modo-oscuro .InfoRecuerdo p{
    color: rgb(223, 221, 221);
}
/* ------------------ */
.buttoncompletoCrearAlbum{
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 10;
    background-color: red;
}
.buttoncompletoCrearAlbum h4{
    position: absolute;
    bottom: -5px;
    right: 25%;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.5em;
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(11, 230, 164, 0.647);
    box-shadow:
        inset 4px 4px 15px rgba(255, 255, 255, 0.82),
    inset -4px -4px 15px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5),
    0px 6px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(130%);
    width: 250px; 
}
.buttoncompletoCrearAlbum img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    background-color: rgba(11, 230, 164, 0.647);
    box-shadow:
        inset 4px 4px 15px rgba(255, 255, 255, 0.82),
    inset -4px -4px 15px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5),
    0px 6px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(130%);
    border-radius: 150px;
    transition: 0.4s all ease-out;
    z-index: 12;
}
.buttoncompletoCrearAlbum img:hover{
    transform: rotateZ(90deg);
    z-index: 10;
}
.descripcionButton{
    opacity: 0;
    transition: 0.4s all ease-out;
}
.buttoncompletoCrearAlbum img:hover + .descripcionButton {
    opacity: 0.8;
}
.recuerdoIndividual{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 
.foto_recuerdo{
    width: 75%;
    height: 75%;
    object-fit: cover;      
    object-position: center;
    border-radius: 40px;
    box-shadow:
        inset 4px 4px 15px rgba(255, 255, 255, 0.82),
    inset -4px -4px 15px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5),
    0px 6px 25px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.emociones{
    position: absolute;
    /*width: 12%;*/
    height: 15%;
    padding: 10px;
    border-radius: 150px;
    background-color: rgba(34, 34, 34, 0.141);
    box-shadow:
        inset 4px 4px 15px rgba(255, 255, 255, 0.82),
    inset -4px -4px 15px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5),
    0px 6px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(130%);
    top: 0;
    left: 0;
}
.notebook{
    position: absolute;
    height: 15%;
    padding: 10px;
    border-radius: 150px;
    background-color: rgba(34, 34, 34, 0.141);
    box-shadow:
        inset 4px 4px 15px rgba(255, 255, 255, 0.82),
    inset -4px -4px 15px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5),
    0px 6px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(130%);
    top: 15%;
    left: 0;
}
/* opcion A */
.gridFotosA{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12,1fr); 
    gap: 5px;
    height: 380px;
}
.TipoA_recuerdoUno{
    grid-column: 1/4;
    grid-row: 1/13;
}
.TipoA_recuerdoDos{
    background-color: rgba(0, 0, 255, 0);
    grid-column: 4/6;
    grid-row: 1/7;
}
.TipoA_recuerdoTres{
    background-color: rgba(43, 255, 0, 0);
    grid-column: 4/6;
    grid-row: 7/13;
}
.TipoA_recuerdoCuatro{
    background-color: rgba(232, 177, 13, 0);
    grid-column: 6/8;
    grid-row: 1/7;
}
.TipoA_recuerdoCinco{
    background-color: rgba(232, 13, 126, 0);
    grid-column: 6/8;
    grid-row: 7/13;
}
/* opcion B */
.gridFotosB{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12,1fr); 
    gap: 5px;
    height: 380px;
}
.TipoB_recuerdoUno{
    grid-column: 1/3;
    grid-row: 2/8;
}
.TipoB_recuerdoDos{
    background-color: rgba(0, 0, 255, 0);
    grid-column: 3/7;
    grid-row: 1/13;
}
.TipoB_recuerdoTres{
    background-color: rgba(43, 255, 0, 0);
    grid-column: 1/3;
    grid-row: 8/13;
}
.TipoB_recuerdoCuatro{
    background-color: rgba(232, 177, 13, 0);
    grid-column: 7/10;
    grid-row: 1/5;
}
.TipoB_recuerdoCinco{
    background-color: rgba(232, 13, 126, 0);
    grid-column: 7/10;
    grid-row: 5/12;
}

/* opcion C */
.gridFotosC{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12,1fr); 
    gap: 5px;
    height: 380px;
}
.TipoC_recuerdoUno{
    grid-column: 1/2;
    grid-row: 1/6;
}
.TipoC_recuerdoDos{
    background-color: rgba(0, 0, 255, 0);
    grid-column: 2/4;
    grid-row: 1/7;
}
.TipoC_recuerdoTres{
    background-color: rgba(43, 255, 0, 0);
    grid-column: 1/4;
    grid-row: 7/13;
}
.TipoC_recuerdoCuatro{
    background-color: rgba(232, 177, 13, 0);
    grid-column: 4/6;
    grid-row: 1/13;
}
.TipoC_recuerdoCinco{
    background-color: rgba(232, 13, 126, 0);
    grid-column: 6/8;
    grid-row: 1/13;
}

.CierreDeAlbum{
    width: 100%;
    height: 100px;
}

/*-------------------- Fin de la pantalla de normal ---------------------- */
.PopUp_VisualizarFotoDeTurno{
    position: fixed;
    width: 70%;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.067);
    box-shadow:
        inset 4px 4px 15px rgba(255, 255, 255, 0.82),
    inset -4px -4px 15px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5),
    0px 6px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(130%);
    z-index: 30;
    right: 0; 
    display: none;
}
.modo-oscuro .PopUp_VisualizarFotoDeTurno{
    background-color: rgba(34, 34, 34, 0.566);
}
.PopUp_datosIndividual{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0);
}
.PopUp_FotografiaRecuerdo{
    height: 70%;
    max-width: 80%;
}
.PopUp_emocionDescripcion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgba(0, 0, 255, 0);
    gap: 20px;
}
.PopUp_Emocion{
    height: 50%;
    background-color: rgba(228, 228, 228, 0.247);
    box-shadow:
        inset 4px 4px 15px rgba(255, 255, 255, 0.82),
    inset -4px -4px 15px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5),
    0px 6px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(130%);
    padding: 10px;
    border-radius: 150px;
    transition: 0.2s all;
}
.modo-oscuro .PopUp_Emocion{
    background-color: rgba(0, 0, 0, 0.656);
}
.PopUp_descripcion{
    color: rgb(255, 242, 242);
    font-family: 'SFPro';
    font-weight: bold;
    font-style: bold;
    font-size: 1.3vw;
}
.closePopUp{
    position: absolute;
    top: 8%; 
    height: 10%;
    transition: 0.2 ease;
}
.modo-oscuro .closePopUp{
    background-color: rgba(0, 0, 0, 0.197);
}
/* ------------------- Fin del pop up ------------------------------------ */
/*--------------------- Todo lo de subir contenido -----------------------*/
.fondo_dropFoto{
    position: absolute;
    top: 27%;
    left: 35%;
    background-color: white;
    z-index: 10;
}
.dropFoto{
    width: 100%;
    background-color: rgba(238, 130, 130, 0.253); 
     
}
.upload {
    width: 100px;
    position: relative;
    margin: auto;
}

.upload img {
    padding: 10px;
    border-radius: 50px;
    border: 6px solid #eaeaea;
    background-color: rgba(254, 254, 254, 0.066);
    box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(100%);

}

.upload .round {
    position: absolute;
    bottom: 0;
    right: -30px;
    background-color: rgba(254, 254, 254, 0.066);
    box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    line-height: 33px;
    border-radius: 100%;
    overflow: hidden;

}

.upload .round input[type="file"] {
    position: absolute;
    transform: scale(2);
    opacity: 0;

}

.upload .round input[type='file'] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}