/* Puras fuentes */
/* Inicio de sfpro */
@font-face {
  font-family: 'SFPro';
  src: url(../recursos/fonts/SFPRODISPLAYBOLD.OTF) format('opentype');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'SFPro';
  src: url(../recursos/fonts/SFPRODISPLAYBLACKITALIC.OTF) format('opentype');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'SFPro';
  src: url(../recursos/fonts/SFPRODISPLAYREGULAR.OTF) format('opentype');
}

@font-face {
  font-family: 'SFPro';
  src: url(../recursos/fonts/SFPRODISPLAYREGULAR.OTF) format('opentype');
  font-weight: 300;
  font-style: italic;

}

/* fin de sfpro*/
/* ----------------------- Fin de fuentes --------------------*/
/* ----------------------- Colores de la web -----------------*/
:root {
  --color_principal: #07e0ad;
  --color_secundario: #20C7A0;
}

h2 {
  font-family: 'SFPro', 'Times New Roman';
  font-weight: bolder;
  font-style: italic;
  font-size: 8vh;
  color: var(--color_principal);
}

/* ----------------animaciones usuales ------------------------ */
/*Algunas de estas animaciones fueron obtenidas de AnimaCSS: https://xsgames.co/animatiss*/
/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */
.blur-in {
  animation: blur-in 0.7s linear both
}

@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0
  }

  100% {
    filter: blur(0);
    opacity: 1
  }
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */
.blur-out {
  animation: blur-out 0.7s linear both
}

@keyframes blur-out {
  0% {
    filter: blur(.01px);
  }

  100% {
    filter: blur(12px);
    opacity: 0
  }
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.scale-up-center {
  animation: scale-up-center 0.7s;
}

@keyframes scale-up-center {
  0% {
    transform: scale(.5)
  }

  100% {
    transform: scale(1)
  }
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.scale-down-center {
  animation: scale-down-center 0.7s;
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(.7);
    opacity: 0.5;
  }
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.slide-right {
  animation: slide-right 0.7s ease both
}

@keyframes slide-right {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(100%)
  }
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.slide-left {
  animation: slide-left 0.4s ease both
}

@keyframes slide-left {
  0% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(0)
  }
}

/* ----------------Fin de animaciones ------------------------- */
/*cursor*/
/*body{
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 0 0, auto;
} 
*/