/* Puras fuentes */
/* Inicio de sfpro */
@font-face {
    font-family: 'SFPro';
    src: url(/recursos/fonts/SFPRODISPLAYBOLD.OTF);
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'SFPro';
    src: url(/recursos/fonts/SFPRODISPLAYBLACKITALIC.OTF);
    font-weight: bolder;
    font-style: italic;

}
@font-face {
    font-family: 'SFPro';
    src: url(/recursos/fonts/SFPRODISPLAYREGULAR.OTF);
    font-weight: 400;
    font-style: normal;

}
/* fin de sfpro*/
/* ----------------------- Fin de fuentes --------------------*/
/* ----------------------- Colores de la web -----------------*/
:root{
  --color_principal: #07e0ad;
  --color_secundario: #20C7A0;
}
h2 {
  font-family: 'SFPro', 'Times New Roman';
  font-weight: bolder;
  font-style: italic;
  font-size: 8vh;
  color: var(--color_principal);
}