*{
    background-color: rgba(0, 255, 255, 0);
}

@view-transition{
    navigation: auto;
}
::view-transition-group(*){
    animation-duration: 2s;
}
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(215deg, #eefcf987, rgb(231, 231, 231));
    position: relative;
    font-family: 'SFPro';
    box-sizing: border-box;
    transition: 0.8s ease;
    overflow: hidden;
}
body::after{
  content: "";
  position: fixed;          
  inset: 0; 
  pointer-events: none;   
  z-index: 0; 
  opacity: 0;  
  transition: opacity 0.2s ease; 
  background: linear-gradient(215deg, #0b0b0b 10%, #1d1d1d 100%);
}
header, section {
  position: relative; /* para poder usar z-index si no lo tienen */
  z-index: 1;
}
body.modo-oscuro::after{
  opacity: 1;
}
.Navegacion {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 20%;
    height: 80%;
    background-color: rgb(244, 244, 244);
    box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(100%);
    border-radius: 110px;

    transition: background 0.2s ease, box-shadow 0.2s ease;

}
body.modo-oscuro .Navegacion {
    background: linear-gradient(215deg, #252525 10%, #1d1d1d 100%);
   box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(110%);
}

.Navegacion nav ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
    padding: 10px;
}

.Navegacion nav ul li {
    text-decoration: none;
    cursor: pointer;
}

.logotipoBotonNavegacion {
    display: flex;
    justify-content: center;
}

.logotipoBotonNavegacion img {
    width: 200px;

}

.perfilBotonNavegacion,
.albumesBotonNavegacion,
.privadosBotonNavegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(255, 0, 0, 0);
    color: var(--color_principal);
    font-size: 1.3em;
}

.perfilBotonNavegacion img {
    width: 15%;
    border-radius: 150px;
}

.botongeneralModoOscuroClaro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo_botongeneralModoOscuroClaro {
    width: 50%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 40px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 14px 20px #4545451b;
}

.botonMovimiento_botongeneralModoOscuroClaro {
    width: 50%;
    height: 40px;
    background-color: #20c7a097;
    border-radius: 50px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease
}

.botonMovimiento_botongeneralModoOscuroClaro img {
    height: 80%;
}
.modo-oscuro .botonMovimiento_botongeneralModoOscuroClaro {
    transform: translateX(55px);
}
/*fin de la navegacion y comienzo de seccion albumes*/
.contenidoAlbumes {
    position: absolute;
    width: 75%;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0);
    right: 0;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    overflow-y: auto;
}
.ContenedorContenidoAlbum {
    width: 80%; 
    height: auto;
    min-height: max-content;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(238, 130, 130, 0.253); 
    display: flex;
    flex-wrap: nowrap;
    border-radius: 100px 100px 0px 0px;
    box-shadow: inset 1px 10px 50px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 5px 5px 3px rgba(255, 255, 255, 0.958),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(16, 200, 3, 0.164),
        inset 10px 10px 10px 10px rgba(250, 252, 250, 0.241),
        inset 5px 5px 15px rgba(255, 255, 255, 0),
        0px 2px 8px rgba(47, 47, 47, 0.242);
    align-items: center;
}
.TituloAlbum{
    width: 100%;
    height: 150px;
    background-color: red;
    background-image: url("../recursos/img/fondoRojo.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 100px 100px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 30px;
    box-shadow:
        inset 4px 4px 3px rgba(255, 255, 255, 0.82),
    inset -4px -4px 5px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(110%);
}
.TituloAlbum h3{
    font-size: 4vw;
    border-radius: 30px; 
    color: rgb(241, 239, 239); 
}
.TituloAlbumImagen{
    margin-left: 60px;
    height: 30%;
    padding: 10px;
    box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(5, 10, 0, 0.344);
    border-radius: 150px;
}
/* ------------------ */
.buttoncompletoCrearAlbum{
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 10;
    background-color: red;
}
.buttoncompletoCrearAlbum h4{
    position: absolute;
    bottom: -5px;
    right: 25%;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.5em;
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(11, 230, 164, 0.647);
    box-shadow:
        inset 4px 4px 15px rgba(255, 255, 255, 0.82),
    inset -4px -4px 15px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5),
    0px 6px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(130%);
    width: 200px; 
}
.buttoncompletoCrearAlbum img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    background-color: rgba(11, 230, 164, 0.647);
    box-shadow:
        inset 4px 4px 15px rgba(255, 255, 255, 0.82),
    inset -4px -4px 15px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5),
    0px 6px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(130%);
    border-radius: 150px;
    transition: 0.4s all ease-out;
    z-index: 12;
}
.buttoncompletoCrearAlbum img:hover{
    transform: scale(1.05);
    z-index: 10;
}
.descripcionButton{
    opacity: 0;
    transition: 0.4s all ease-out;
}
.buttoncompletoCrearAlbum img:hover + .descripcionButton {
    opacity: 0.8;
}
.emocionIcono{
    height: 50%;
    background-color: rgba(228, 228, 228, 0.247);
    box-shadow:
        inset 4px 4px 15px rgba(255, 255, 255, 0.82),
    inset -4px -4px 15px rgba(255, 255, 255, 0.22),
    inset 4px 6px 4px rgba(255, 255, 255, 0.55),
    inset 4px 4px 15px rgba(255, 255, 255, 0.45),
    inset 4px 4px 8px rgba(255, 255, 255, 0.22),
    inset 15px 15px 40px rgba(255, 255, 255, 0.5),
    0px 6px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(130%);
    padding: 10px;
    border-radius: 150px;
    transition: 0.2s all;
}


.modo-oscuro .PopUp_Emocion{
    background-color: rgba(0, 0, 0, 0.656);
}
.PopUp_descripcion{
    color: rgb(255, 242, 242);
    font-family: 'SFPro';
    font-weight: bold;
    font-style: bold;
    font-size: 1.3vw;
}
/* ------------------- Fin del pop up ------------------------------------ */
/*--------------------- Todo lo de subir contenido -----------------------*/ 
.upload {
    width: 100px;
    position: relative;
    margin: auto;
}

.upload img {
    padding: 10px;
    border-radius: 50px;
    border: 6px solid #eaeaea;
    background-color: rgba(254, 254, 254, 0.066);
    box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(100%);

}

.upload .round {
    position: absolute;
    bottom: 0;
    right: -30px;
    background-color: rgba(254, 254, 254, 0.066);
    box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    line-height: 33px;
    border-radius: 100%;
    overflow: hidden;

}

.upload .round input[type="file"] {
    position: absolute;
    transform: scale(2);
    opacity: 0;

}

.upload .round input[type='file'] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}


.previewGaleria {
    width: 80%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.previewImagenIndividual { 
    width: 100%;
    height: 250px;
    background-color: rgba(226, 26, 26, 0);
    border-radius: 20px;
    padding: 15px;
    text-align: center; 
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.imagenPreview {
    width: 35%; 
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 30px;
    box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    padding: 10px;
}
.formulario{
    display: flex;
    flex-direction: column; 
    background-color: rgba(255, 235, 205, 0);
    gap: 10px;
    width: 100%;
}
.emociones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
}
.emociones img{
    width: 40px;
    background-color: #aeaeae3c;
    border-radius: 150px;
    box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    padding: 6px;
    transition: 0.3s ease;
}
.emocionSeleccionada{
    filter:drop-shadow(5px 5px 7px rgb(0, 255, 136));
}
.emociones img:hover{
    transform: scale(1.1);
}
.previewGaleria {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedorbotonEliminarPreview{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}
.botonEliminarPreview {
    background-color: rgba(200, 0, 0, 0);
    color: white;
    border: none; 
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
   
}
.botonEliminarPreview img{
    width: 50px;
    height: 50px;
    transition: 0.3s all; 
    filter: drop-shadow(3px 3px 4px rgba(255, 0, 0, 0.367));
}
.botonEliminarPreview img:hover {
    filter: drop-shadow(3px 3px 4px red);
}

.SubirFotos {
    margin-top: 60px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DropArea {
    width: 80%;
    height: 100%;
    border: 0px dashed var(--color-principal, #888);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    color: var(--color-principal);
    background-color: rgba(195, 195, 195, 0.107);
}

/* Efecto hover */
.DropArea:hover {
    border: 2px dashed var(--color-principal, #232323);
    background-color: rgba(195, 195, 195, 0.4);
}

/* Ocultamos el input para estilizar */
.DropArea input {
    display: none;
}

.DropArea p {
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    color: var(--color-principal);
}
.inputGeneral {
    width: 90%;
    height: 40px;
    background-color: #8f8f8f0a;
    border: none;
    border-radius: 30px;
    box-shadow:
        inset 1px 1px 5px rgba(255, 255, 255, 0.676),
        inset -1px -1px 5px rgba(255, 255, 255, 0.164),
        inset 1px 2px 1px rgba(255, 255, 255, 0.507),
        inset 1px 1px 5px rgba(255, 255, 255, 0.402),
        inset 1px 1px 2px rgba(255, 255, 255, 0.164),
        inset 5px 5px 15px rgba(255, 255, 255, 0.454),
        0px 2px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(6px) saturate(110%);
    -webkit-backdrop-filter: blur(6px) saturate(100%);
    outline: none;
    padding-left: 30px;
    color: #acabab;
    font-size: 12px;
    font-family: 'SFPro';
    font-weight: 400;
    letter-spacing: 0.8px;
}
 




.CierreDeAlbum{
    width: 100%;
    height: 100px;
}
